/* .task{
 
    background-image: linear-gradient(to bottom right, rgb(224, 221, 221), rgb(251, 251, 251));
    
}
.buttons{
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
.headerStyle{
    display: none;
}
.state{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 50%;
}
.line{
    height: 4px;
    background-color: black;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px;
} */


.admin{

    background-color: rgb(107, 65, 65);
    color: azure;
    height: 9000px;
    justify-content: flex-end;
    
    
}

.test{
    padding: 16px;
    justify-content: flex-end;
    
}